<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/e3112f1bdf.css">
  {{ $flexStyle := resources.Get "css/flex.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $flexStyle.RelPermalink }}">>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/favicon.ico"  type="image/x-icon"/>

{{- with .Title | default .Site.Title }}
  <title>{{ . }}</title>
{{- end }}
{{- with .Description | default .Params.summary | default .Site.Params.description }}
  <meta name="description" content="{{ . }}">
{{- end }}
  <!-- Links and stylesheets -->
{{- if isset .Params "canonical" }}
  <link rel="canonical" href="{{ .Params.canonical | absURL }}">
{{- else }}
  <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

</head>
