<div class="flex-media">
{{- range $item := .media }}
  <div class="item">
    {{- if eq $item.type "video" }}
      <div class="video">{{ $item.content }}</div>
    {{- else if eq $item.type "image" }}
      {{- if $item.title -}}
      <a href="#{{ $item.content | md5 }}" class="thumbnail"><img src="{{ $item.content | safeURL }}" alt="{{ $item.title }}" /></a>
      <a href="#_" id="{{ $item.content | md5 }}" class="lightbox"><img src="{{ $item.content | safeURL }}" alt="{{ $item.title }}" /></a>
      {{- else }}
      <a href="#{{ $item.content | md5 }}" class="thumbnail"><img src="{{ $item.content | safeURL }}"  /></a>
      <a href="#_" id="{{ $item.content | md5 }}" class="lightbox"><img src="{{ $item.content | safeURL }}"  /></a>
      {{- end }}
    {{- else }}
      {{ $item.content | safeHTML }}
    {{- end }}
  </div>
{{- end }}
</div>
