<footer class="foot">
  <div id="copyrights">&#169; 2016-{{site.time | date: "%Y" }} under terms of the Apache License 2.0.</div>

  <div>Follow us:
  <a target="_blank" href="https://twitter.com/gameontext" title="Follow @gameontext"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a target="_blank" href="{{ "/feed.xml" | relative_url }}" title="Subscribe"><i class="fa fa-rss" aria-hidden="true"></i></a>
  </div>
</footer>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90113653-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', 'UA-90113653-2', {
    'custom_map': {'dimension1': 'blog'
    'linker': {
      'domains': ['gameontext.org','blog.gameontext.org','book.gameontext.org']
    }
  });
</script>
<!-- End Google Analytics -->
